<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <base href="/">
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--

  Powered by:
      ███████╗ ██████╗██╗   ██╗ ██████╗  ██╗   ██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗
     ██╔════╝██╔════╝██║   ██║██╔═══██╗ ╚██╗  ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗
    ███████╗██║     ██║   ██║██║   ██║  ╚██╗ ██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
   ╚════██║██║     ╚██╗ ██╔╝██║   ██║  ██╔╝ ██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
  ███████║╚██████╗ ╚████╔╝ ╚██████╔╝ ██╔╝  ██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
  ╚══════╝ ╚═════╝  ╚═══╝   ╚═════╝ ╚═╝   ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

  -->

	<link rel="shortcut icon" href="{{~>asset_url url='images/icons/favicon.ico'~}}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{~>asset_url url='images/icons/apple-icon-57x57.png'~}}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{~>asset_url url='images/icons/apple-icon-60x60.png'~}}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{~>asset_url url='images/icons/apple-icon-72x72.png'~}}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{~>asset_url url='images/icons/apple-icon-76x76.png'~}}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{~>asset_url url='images/icons/apple-icon-114x114.png'~}}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{~>asset_url url='images/icons/apple-icon-120x120.png'~}}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{~>asset_url url='images/icons/apple-icon-144x144.png'~}}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{~>asset_url url='images/icons/apple-icon-152x152.png'~}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{~>asset_url url='images/icons/apple-icon-180x180.png'~}}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{~>asset_url url='images/icons/android-icon-192x192.png'~}}">
  <link rel="icon" type="image/png" sizes="512x512"  href="{{~>asset_url url='images/icons/android-icon-192x192.png'~}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{~>asset_url url='images/icons/favicon-32x32.png'~}}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{~>asset_url url='images/icons/favicon-96x96.png'~}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{~>asset_url url='images/icons/favicon-16x16.png'~}}">
  <link rel="manifest" href="{{~>asset_url url='images/icons/manifest.json'~}}">
  <meta name="msapplication-TileColor" content="#3c7524">
  <meta name="msapplication-TileImage" content="{{~>asset_url url='images/icons/ms-icon-144x144.png'~}}">
  <meta name="theme-color" content="#3c7524">
  <link rel="search" type="application/opensearchdescription+xml" title="Goodmoves" href="{{~>asset_url url='opensearch.xml'~}}" />

  <link rel="canonical" href="https://goodmoves.com{{request.params.uri.pathname}}" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-6"></script>
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-3467930-6', {
    'send_page_view': true,
    'anonymize_ip': true,
    'cookieDomain': 'none',
    'custom_map': {
      'dimension1': 'hit_type',
      'dimension2': 'parent_document'
    }
  });
  </script>
  {{#ifAny @root.request.params.query.debug (compare @root.request.url.hostname "goodmoves.local") ~}}
  <script type="text/javascript">
  console.log('#### DEBUG MODE ON ####');
  console.log('Request:', {{{regexReplace (regexReplace (stringify @root.request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Route:', {{{regexReplace (regexReplace (stringify @root.route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Context:', {{{regexReplace (regexReplace (stringify @root.context) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Data:', {{{regexReplace (regexReplace (stringify @root.data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Menus:', {{{regexReplace (regexReplace (stringify @root.context.metaData.menus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  {{#if errors.[0]}}
    console.error('Task Errors:', {{{regexReplace (regexReplace (stringify @root.errors) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  {{/if}}
  </script>
  {{/ifAny ~}}
  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/leaflet/leaflet.css'~}}" />
  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/fontawesome-pro/css/all.min.css'~}}" />

  <style type="text/css">
  @font-face {
  font-family: 'Asap';
  src: url('{{~>asset_url url='fonts/Asap-Bold.eot'~}}');
  src: url('{{~>asset_url url='fonts/Asap-Bold.eot?#iefix'~}}') format('embedded-opentype'),
       url('{{~>asset_url url='fonts/Asap-Bold.woff2'~}}') format('woff2'),
       url('{{~>asset_url url='fonts/Asap-Bold.woff'~}}') format('woff'),
       url('{{~>asset_url url='fonts/Asap-Bold.ttf'~}}') format('truetype'),
       url('{{~>asset_url url='fonts/Asap-Bold.svg#Asap-Bold'~}}') format('svg');
  font-weight: bold;
  font-style: normal;
  }
  @font-face {
  font-family: 'Ingra';
  src: url('{{~>asset_url url='fonts/IngraSCVO-Regular.eot'~}}');
  src: url('{{~>asset_url url='fonts/IngraSCVO-Regular.eot?#iefix'~}}') format('embedded-opentype'),
       url('{{~>asset_url url='fonts/IngraSCVO-Regular.woff2'~}}') format('woff2'),
       url('{{~>asset_url url='fonts/IngraSCVO-Regular.woff'~}}') format('woff'),
       url('{{~>asset_url url='fonts/IngraSCVO-Regular.ttf'~}}') format('truetype'),
       url('{{~>asset_url url='fonts/IngraSCVO-Regular.svg#IngraSCVO-Regular'~}}') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: 'Ingra';
  src: url('{{~>asset_url url='fonts/IngraSCVO-SemiBold.eot'~}}');
  src: url('{{~>asset_url url='fonts/IngraSCVO-SemiBold.eot?#iefix'~}}') format('embedded-opentype'),
       url('{{~>asset_url url='fonts/IngraSCVO-SemiBold.woff2'~}}') format('woff2'),
       url('{{~>asset_url url='fonts/IngraSCVO-SemiBold.woff'~}}') format('woff'),
       url('{{~>asset_url url='fonts/IngraSCVO-SemiBold.ttf'~}}') format('truetype'),
       url('{{~>asset_url url='fonts/IngraSCVO-SemiBold.svg#IngraSCVO-SemiBold'~}}') format('svg');
  font-weight: bold;
  font-style: normal;
  }
  </style>

  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='main.css'}}" />
</head>
<body class="mdc-theme--site-bg {{#if request.params.path}}{{replace request.params.path '_' ' '}}{{else}}home{{/if}}">
  <goodmoves-site>
    <div class="mdc-typography">
      {{#ifAny @root.request.params.query.debug (compare @root.request.url.hostname "goodmoves.local") ~}}
        {{#if errors.[0]}}
          <div style="z-index:100;position:fixed;top:0;right:0;padding:5px;background-color:#ff0000;color:#ffffff;">
            Route Task Errors (F12)
          </div>
        {{/if}}
        {{#if logs.[0]}}
          <div style="z-index:100;position:fixed;bottom:0;right:0;padding:5px;background-color:#0000ff;color:#ffffff;"
               onclick="document.querySelector('#route-debug-log').style.display='block';">
            Route Log
          </div>
          <div style="z-index:100;position:fixed;bottom:0;left:0;right:0;padding:5px;background-color:#ededed;color:#000000;overflow:auto;height:50vh;display:none;border-top:1px solid #cccccc;" id="route-debug-log">
            <a style="position:fixed;right:25px;" onclick="document.querySelector('#route-debug-log').style.display='none';">x</a>
<pre style="white-space: pre-wrap;">
{{~#each logs}}
{{{this}}}

{{/each~}}
</pre>
          </div>
        {{/if}}
      {{/ifAny}}
      <header class="mdc-top-app-bar" id="top-bar">
        <div class="container-fluid">
          <div class="mdc-top-app-bar__row mdc-top-app-bar__lower scvo-tab-bar hide-sm hide-md">
            <section class="mdc-top-app-bar__row">
              {{> components_scvo_bar}}
            </section>
          </div>
          <div class="mdc-top-app-bar__row mdc-top-app-bar__upper">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
              {{#unless @root.route.metaData.hideSearch ~}}
              <button class="mdc-top-app-bar__navigation-icon hide-lg filter-search-button" id="sidebar-button" title="Search">
                <span class="far fa-fw fa-2x fa-search"></span>
              </button>
              {{/unless ~}}
              <span class="mdc-top-app-bar__title">
                {{> logo link="true"}}
              </span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end hide-lg">
              <button class="mdc-top-app-bar__navigation-icon " data-drawer-target="#mobile-menu" aria-label="Menu">
                <span class="far fa-fw fa-2x fa-bars"></span>
              </button>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end hide-md hide-sm" style="display:contents;">
              <div class="my-preferences t-margin-full t-padding-full r-margin-full">
                {{#if @root.data.auth ~}}
                  {{#>components_anchored_menu
                      buttonClasses="btn btn-lg btn-secondary"
                      imageUrl=(default @root.data.auth.photoURL false)
                      imageClasses="far fa-fw user-avatar r-margin-full"
                      iconClasses=(if (if @root.data.auth.photoURL false else=true) "far fa-fw fa-user-circle" else=false)
                      buttonLabel="My preferences"
                      arrowClasses="far fa-fw fa-angle-down l-margin-full"}}
                    {{#each @root.context.metaData.menus.user-signed-in ~}}
                      <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}" role="menuitem">
                        {{#if icon ~}}
                        <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
                        {{/if ~}}
                        {{{label}}}
                      </a>
                    {{/each ~}}
                  {{/components_anchored_menu}}
                {{else}}
                <div class="sign-in-up t-margin-full">
                  {{#each @root.context.metaData.menus.user-not-signed-in ~}}
                  <a href="{{stripTrailingSlash path}}" class="btn btn-lg{{#compare label 'Sign in'}} btn-primary{{/compare}} r-margin-full">{{label}}</a>
                  {{/each}}
                  {{#compare @root.request.url.pathname '/'}}
                  <div class="alerts-by-email r-margin-full t-margin-full">
                    <span class="mdc-typography--caption">
                      Register with {{> logo}} for<br />regular job email alerts
                    </span>
                  </div>
                  {{/compare}}
                </div>
                {{/if}}
              </div>
            </section>
          </div>
          <div class="mdc-top-app-bar__row mdc-top-app-bar__lower hide-sm hide-md">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start mdc-top-app-bar__main">
              {{#>components_tab_bar
                  extraClasses="mdc-tab-bar__auto-width"
                  id="main-tab-bar"}}
                {{#each @root.context.metaData.menus.main ~}}
                  {{>components_tab
                      url=(stripTrailingSlash path)
                      labelClasses=""
                      active=(regexMatch @root.request.url.pathname route "gi")
                      label=label}}
                {{/each ~}}
                {{!-- {{#each @root.context.metaData.menus.main-extra ~}}
                  {{>components_tab
                      url=(stripTrailingSlash path)
                      labelClasses=""
                      active=(regexMatch @root.request.url.pathname route "gi")
                      label=label}}
                {{/each ~}}
                {{#if @root.data.auth ~}}
                  {{#each @root.context.metaData.menus.main-signed-in ~}}
                    {{>components_tab
                        url=(stripTrailingSlash path)
                        labelClasses=""
                        active=(regexMatch @root.request.url.pathname route "gi")
                        label=label}}
                  {{/each ~}}
                {{else}}
                  {{#each @root.context.metaData.menus.main-not-signed-in ~}}
                    {{>components_tab
                        url=(stripTrailingSlash path)
                        labelClasses=""
                        active=(regexMatch @root.request.url.pathname route "gi")
                        label=label}}
                  {{/each ~}}
                {{/if ~}} --}}
              {{/components_tab_bar}}
            </section>
            {{!-- <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__user">
              {{#if @root.data.auth ~}}
              {{else}}
                {{#>components_tab_bar
                    extraClasses="mdc-tab-bar__auto-width"
                    id="user-not-signed-in-tab-bar"}}
                  {{#each @root.context.metaData.menus.user-not-signed-in ~}}
                    {{>components_tab
                        url=(stripTrailingSlash path)
                        labelClasses=""
                        active=(regexMatch @root.request.url.pathname route "gi")
                        label=label}}
                  {{/each}}
                {{/components_tab_bar}}
              {{/if ~}}
            </section> --}}
          </div>
        </div>
      </header>

      <aside class="mdc-drawer mdc-drawer--modal" id="mobile-menu" data-mdc-auto-init="MDCDrawer">
        <div class="mdc-drawer__content">
          <nav class="mdc-list">
            <a class="mdc-list-item {{#compare @root.request.url.pathname "/"}} mdc-list-item--activated{{/compare}}"
               href="/" aria-selected="true" tabindex="1">
              <span class="far fa-home mdc-list-item__graphic" aria-hidden="true"></span>
              Home
            </a>
            {{#each @root.context.metaData.menus.main ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            {{#each @root.context.metaData.menus.upper ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            {{#each @root.context.metaData.menus.main-extra ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            <div role="separator" class="mdc-list-divider"></div>
            {{#if @root.data.auth ~}}
            <a class="mdc-list-item mdc-list-item__user" href="#">
              {{#if @root.data.auth.photoURL ~}}
              <span class="mdc-list-item__graphic" aria-hidden="true">
                <img src="{{@root.data.auth.photoURL}}" alt="{{@root.data.auth.email}}" />
              </span>
              {{/if ~}}
              <span class="mdc-list-item__text">{{@root.data.auth.email}}</span>
            </a>
            {{#each @root.context.metaData.menus.user-signed-in ~}}
            {{#compare path "===" "/" ~}}
            {{else}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/compare ~}}
            {{/each ~}}
            {{else}}
            {{#each @root.context.metaData.menus.user-not-signed-in ~}}
            <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}"
               href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname route "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
              {{#if icon ~}}
              <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
              {{/if ~}}
              {{{label}}}
            </a>
            {{/each ~}}
            {{/if ~}}
          </nav>
        </div>
      </aside>

      <div class="mdc-drawer-scrim"></div>

      <main class="mdc-theme--background {{#if layoutParts.sidebar}}drawer-container-permanent{{else}}drawer-container-temporary{{/if}}">
        {{#if layoutParts.sidebar }}
        <aside class="mdc-drawer mdc-drawer--occasional" id="sidebar-temporary" data-menu-button=".filter-search-button">
          {{{layoutParts.sidebar}}}
        </aside>
        <div class="mdc-drawer-scrim"></div>
        {{/if}}
        {{{layoutParts.body}}}
      </main>
      {{{layoutParts.bodyLower}}}

      <footer class="mdc-layout__footer">
        <div class="footer-main">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone contact">
                  <h3>Contact</h3>
                  <ul class="fa-ul">
                    <li>
                      <span class="fa-li" aria-hidden="true"><span class="fas fa-info-circle"></span></span>
                      <a href="/contact">Get in touch</a>
                    </li>
                  </ul>
                  <h3>Social</h3>
                  <ul class="fa-ul">
                    <li>
                      <span class="fa-li" aria-hidden="true"><span class="fab fa-twitter"></span></span>
                      <a href="https://twitter.com/goodmovesjobs" target="_blank" rel="noopener">Twitter</a>
                    </li>
                    <li>
                      <span class="fa-li" aria-hidden="true"><span class="fab fa-linkedin"></span></span>
                      <a href="https://www.linkedin.com/company/goodmoves" target="_blank" rel="noopener">LinkedIn</a>
                    </li>
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone help">
                  <h3>Help</h3>
                  <ul class="mdc-list">
                    {{#each @root.context.metaData.menus.footer-help ~}}
                    <li class="mdc-list-item">
                      <a href="{{path}}">{{{label}}}</a>
                    </li>
                    {{/each ~}}
                    <div id="google_translate_element"></div>
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone info">
                  <h3>Information</h3>
                  <ul class="mdc-list">
                    {{#each @root.context.metaData.menus.footer-info ~}}
                    <li class="mdc-list-item">
                      <a href="{{path}}">{{{label}}}</a>
                    </li>
                    {{/each ~}}
                  </ul>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone about">
                  <h3>About</h3>
                  <p>
                    Goodmoves is the premier careers hub for the civil society, charity and voluntary sector &ndash; run by the <a href="https://scvo.scot">Scottish Council for Voluntary Organisations</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container-fluid">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone" style="display:flex;align-items:center;">
                  <p>
                    &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation.<br />
                    Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                  </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
                  <a href="https://scvo.scot" class="brand-logo" title="Scottish Council for Voluntary Organisations">
                    <img src="{{~>asset_url url='images/logos/scvo-white.svg'~}}" alt="Scottish Council for Voluntary Organisations" />
                    {{!-- <img src="{{~>asset_url url='images/logos/scvo-legacy-black.png'~}}" alt="Scottish Council for Voluntary Organisations" /> --}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      {{!-- {{#ifNone @root.request.cookies.questionnaire (contains @root.request.url.pathname "questionnaire")}}
        <div class="mdc-typography" style="position: fixed; top: 0; left: 0; right: 0; padding: 1rem; background: #F9DA18; color: #244B5A; z-index:10000; text-align: center" data-dismissable="questionnaire">
          <button type="button" class="mdc-button pull-right" style="margin-top: -0.5rem" data-dismiss="questionnaire">
            <span class="far fa-times fa-fw"></span>
          </button>
          We want your views to help us improve. <a href="/questionnaire">Please complete our short survey and you could win an Apple iPad</a>.
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var dismissButtons = Array.prototype.slice.call(document.querySelectorAll('[data-dismiss]'));
            for (var i = 0; i < dismissButtons.length; i++) {
              var dismissButton = dismissButtons[i];
              dismissButton.addEventListener('click', function() {
                var toDismiss = dismissButton.getAttribute('data-dismiss');
                goodmoves.setCookie(toDismiss, 'true', 365);
                var dismissable = document.querySelector('[data-dismissable="' + toDismiss + '"]');
                dismissable.style.display = 'none';
              });
            }
          });
        </script>
      {{/ifNone}} --}}
    </div>
  </goodmoves-site>

  <script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {
        pageLanguage: 'en',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        gaTrack: true,
        gaId: 'UA-3467930-6'
      },
      'google_translate_element'
    );
  }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript">
  var $buoop = {required:{e:-3,f:-3,o:-3,s:-1,c:-3},insecure:true,unsupported:true,api:2018.07 };
  function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
  </script>

	<script type="text/javascript" src="{{~>asset_url url='main.js'~}}"></script>

  <script>
    var goodmoves = null; readyListeners = [];
    $(document).ready(function() {
      goodmoves = new Goodmoves.Goodmoves({
        apiKey: "AIzaSyAuGAacoIdUgbtfI42UXTHDosMS4pP5Teg",
        authDomain: "auth.goodmoves.com",
        databaseURL: "https://goodmoves-frontend.firebaseio.com",
        projectId: "goodmoves-frontend",
        storageBucket: "goodmoves-frontend.appspot.com",
        messagingSenderId: "639831727728"
      });
      ready = true;
      readyListeners.forEach(function(listener) {
        listener();
      });
    });

    function registerReadyListener(listener) {
      if (goodmoves) {
        listener();
      } else {
        readyListeners.push(listener);
      }
    }
  </script>

  {{{layoutParts.foot}}}
</body>
</html>