{{#*inline "marker"}}
<marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lng}}" data-title="{{source.title}}">
  {{>vacancy_map source postcode=(itemAt (arrayify source.postcodes) index)}}
</marker>
{{/inline}}

{{#if @root.data.search_data.map_results.pagination.totalResults ~}}
<div id="detailed-results-container" class="container-content container-map">
  <div id="map-full" data-map-name="fullMap" data-map-clustered-options='{
    {{#ifAll @root.request.params.query.location @root.request.params.query.lat @root.request.params.query.lng ~}}
      "circle": {
        "lat": {{@root.request.params.query.lat}},
        "lng": {{@root.request.params.query.lng}},
        "radius": {{default @root.request.params.query.distance 0}},
        "color": "#9cd986"
      }
    {{/ifAll ~}}
    }'>
    {{#each @root.data.search_data.map_results.hits.hits ~}}
      {{#if _source.geo_coords ~}}
        {{#each (arrayify _source.geo_coords) ~}}
          {{#if @root.request.params.query.regions ~}}
            {{!-- {{#switch (getProperty (itemAt ../_source.geo_info @index) "nhs_ha") ~}}
            {{#case "Lothian" ~}}
            {{#if (contains @root.request.params.query.regions "edinburgh-lothian") ~}} --}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{!-- {{/if ~}}
            {{/case ~}}
            {{#case "Greater Glasgow and Clyde" ~}}
            {{#if (contains @root.request.params.query.regions "glasgow-clyde") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Tayside" ~}}
            {{#if (contains @root.request.params.query.regions "tayside") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Forth Valley" ~}}
            {{#if (contains @root.request.params.query.regions "central-scotland") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Western Isles" ~}}
            {{#if (contains @root.request.params.query.regions "na-h-eileanan-siar") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Fife" ~}}
            {{#if (contains @root.request.params.query.regions "fife") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Grampian" ~}}
            {{#if (contains @root.request.params.query.regions "grampian") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Highland" ~}}
            {{#if (contains @root.request.params.query.regions "highlands") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Lanarkshire" ~}}
            {{#if (contains @root.request.params.query.regions "glasgow-clyde") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Orkney" ~}}
            {{#if (contains @root.request.params.query.regions "northern-isles") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Shetland" ~}}
            {{#if (contains @root.request.params.query.regions "northern-isles") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{#case "Argyll & Bute" ~}}
            {{#if (contains @root.request.params.query.regions "argyll-bute") ~}}
            {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
            {{/case ~}}
            {{/switch ~}} --}}
          {{else}}
            {{#if @root.request.params.query.distance ~}}
              {{#compare (itemAt ../fields.distance @index) "<" @root.request.params.query.distance ~}}
                {{> marker lat=lat lng=lon source=../_source index=@index}}
              {{/compare ~}}
            {{else}}
              {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
          {{/if ~}}
        {{/each ~}}
      {{/if ~}}
    {{/each ~}}
  </div>
</div>
{{else}}
<div id="detailed-results-container" class="container-content content-primary-search">
  <div class="search-info mdc-elevation--z1">
    No results could be found, please try a different search query
  </div>
</div>
{{/if ~}}