<div class="mdc-card search-result" data-organisation-id="{{Id}}">
  <div class="mdc-card__info--content-secondary-row">
    <div class="mdc-card__info--content-secondary">
      {{#if has_logo ~}}
      <div class="mdc-card__media mdc-card__media--content-secondary">
        <a href="/organisation/{{slug}}{{> query_search}}">
          <img src="{{logo_url}}" alt="{{title}}" />
        </a>
      </div>
      {{/if ~}}
      <div class="mdc-card__info--content-secondary-title mdc-typography--headline6">
        <a href="/organisation/{{slug}}{{> query_search}}">{{title}}</a>
      </div>
      <div class="search-result-article__snippet mdc-typography--body1">
        {{stripTags og_summary}}
      </div>
    </div>
  </div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons demo-card__action-buttons--text-only mdc-card__actions--full-bleed">
      <a href="/organisation/{{slug}}{{> query_search}}" class="mdc-card__action hide-sm" aria-label="Find out more about {{title}}">Find out more</a>
      <a href="/organisation/{{slug}}{{> query_search}}" class="mdc-card__action hide-md hide-lg" aria-label="Find out more about {{title}}"><span class="fal fa-info-circle fa-fw fa-2x" aria-hidden="true"></span></a>
    </div>
  </div>
</div>